* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(../otrasFotos/rastroPatitas.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido {
    width: 100%;
    max-width: 450px;
    background-color: #2C2F35;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.contenido h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #FFFFFF;
    position: relative;

}

.contenido h1::after {  /* para poder agregar elementos*/
content: ''; /*elemento de la de */
width: 320px;
height: 4px;
border-radius: 3px;
background: rgb(115, 58, 238);
position: absolute;
bottom: -12px;
left: 50%;
transform: translateX(-50%);
}

.inputs {
    background-color: #dcdddf;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #2C2F35;
}

input:placeholder {
    color: #2C2F35;
}

.inputs i {
    margin-left: 15px;
    color: rgb(115, 58, 238);

}

form p{
    background-color: #dcdddf;
    color: #2C2F35;
    text-align: center;
    font-size: 15px;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
}

form p a {
    color: rgb(115, 58, 238);
    margin-left: 5px;
    
}

.btnInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btnInput button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: rgb(115, 58, 238);
    color: #FFFFFF;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.grupo {
    height: 250px;
}

.btnInput a {
    color: #FFFFFF;
}
